<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}">
</head>
<body>
    <div style="width:100%; text-align: center">
        <form action="/stream" method="post">
            <input name="cite" placeholder="Введите ссылку на поток" style="width:90%; height: 30px"></input>
            <button type="submit" style="margin-top: 20px; height: 35px;">Показать</button>
        </form>
    </div>
</body>
</html>