<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stream</title>
</head>
<body>
    <img src="{{ url_for('video_feed') }}">
    <form action="/" method="get">
        <button type="submit">Вернуться на главную</button>
    </form>
</body>
</html>